<template>
  <div>
    <h1 class="red">Look at port:9091</h1>
  </div> 
</template>

<script>
    export default {}
</script>

<style>
  .red {
    width: 50%;
    margin: 40px auto;
    color: #3b8070;
    text-align: center;
    border: solid 1px rgb(189, 189, 189);
    border-radius:3px;
    padding:1em;
  }

</style>
